altair==4.1.0
bar==0.2.1
beautifulsoup4==4.9.1
chardet==3.0.4
Click==7.0
colorama==0.4.3
comtypes==1.1.7
cycler==0.10.0
decorator==4.4.2
lxml>=4.6.2
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.5
packaging==20.4
pandas==1.0.4
playsound==1.2.2
plotly==4.8.1
plotly-express==0.4.1
python-dateutil==2.8.1
statsmodels==0.11.1
streamlit==0.61.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
urllib3==1.25.9

